<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>QuizDraft</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div>
    <ul style="list-style-type:none">
    <% for (let quiz of quizList) { %>
      <li>
        <a href=<%= `/quiz/${quiz._id}`%>>
          <%= quiz.name %>, <%= quiz.subject %>
        </a>
      </li>
      <br>
    <% } %>
    </ul>
  </div>
</body>

</html>